
.header-menu {
    display: inline-flex;
    width: 1900px;
    height: 70px;
    background-color: #313131;
    font-family: sans-serif;
    /*justify-content: center*/
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    width: 81px;
    height: 70px;
    padding-left: 0;
    padding-top: 0;
}
.firm-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 26px;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    /*margin-top: 22px;*/
    margin-left: 67px;
}
.header-menu-item1 {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-end;
    width: 46px;
    height: 16px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-left: 180px;
    margin-top: 3px;
    /*padding: 5px;*/
}

.header-menu-item1:hover {
    color: #87ceeb;
}
.header-menu-item2 {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-end;
    width: 269px;
    height: 16px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-left: 61px;
    margin-top: 3px;
    /*padding: 5px;*/
}
.header-menu-item3 {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-end;
    width: 182px;
    height: 16px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-left: 5px;
    margin-top: 3px;
    /*padding: 5px;*/
}
.header-menu-item4 {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-end;
    width: 78px;
    height: 16px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-left: 61px;
    margin-top: 3px;
    /*padding: 5px;*/
}
.header-menu-item5 {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-end;
    width: 41px;
    height: 16px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-left: 61px;
    margin-top: 3px;
    /*padding: 5px;*/
}
.header-menu-item6 {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-end;
    width: 43px;
    height: 16px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-left: 61px;
    margin-right: 350px;
    margin-top: 3px;
    /*padding: 5px;*/
}
.NEWS
{
    background:#c7b39b url(./images/city.jpeg);
    width: 1900px;
    height: 369px;
    display: flex;
    margin-top: -20px;
}
.colomb {
    display: flex;
    width: 900px;
    height: 200px;
    flex-direction: column;
}

.latest-news {
    display: flex;
    width: 737px;
    height: 32px;
    /*align-items: center;*/
    justify-content: center;
    font-family: sans-serif;
    font-size: 27px;
    line-height: 36.77px;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    margin-top: 133px;
    margin-left: 458px;
}
.button {
    display: inline-flex;
    width: 400px;
    height: 70px;
    margin-top: 60px;
    margin-left: 600px;
    align-content: space-between;

    /*margin-right: 100px;*/
}
.green-button {
    display: flex;
    flex: 1 1 auto;
    margin: 0 30px;
    width: 170px;
    height: 45px;
    background-color: #89CA62;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid transparent;
    justify-content: center;
    padding-top: 20px;
    /*text-align: center;*/
    border-radius: 5px;
    text-decoration: none;
    /*margin-bottom: 60px;
    margin-right: 500px;*/
}

.blue-button {
    display: flex;
    flex: 1 1 auto;
    margin: 0 30px;
    width: 170px;
    height: 45px;
    background-color: #1489D5;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid transparent;
    justify-content: center;
    padding-top: 20px;
    text-decoration: none;
    /*text-align: center;*/
    border-radius: 5px;
    /*margin-bottom: 60px;
    margin-right: 500px;*/
}
.posts {
    width: 1900px;
    height: 1030px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /*align-content: space-between;*/
}
.MOST-POPULAR-POST {
    display: flex;
    width: 330px;
    height: 33px;
    margin-top: 29px;
    margin-left: 571px;
    margin-bottom: 29px;
    font-family: sans-serif;
    font-size: 27px;
    line-height: 37px;
    font-style: normal;
    font-weight: bold;
    color: #18B4CF;
}

.hotels {
    display: flex;
    gap: 10px;
    width: 1250px;
    height: 800px;
    margin-left: 50px;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background-color: #f2f2f2;

}
/*.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));*/
.hotel1 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 320px;
    margin-top: 0;
}
.img-hotel1 {
    display: flex;
    width: 370px;
    height: 259px;
}
.hotel1-title {
    display: flex;
    width: 370px;
    height: 40px;
    margin-top: -10px;
    /*margin-left: 14px;*/
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: bold;
    background-color: white;
}
.hotel2 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 441px;
    margin-top: 0;
}
.img-hotel2 {
    display: flex;
    width: 370px;
    height: 380px;
}
.hotel2-title {
    display: flex;
    width: 370px;
    height: 40px;
    margin-top: -10px;
    /*margin-left: 14px;*/
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: bold;
    background-color: white;
}
.hotel3 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 320px;
    margin-top: 0;
}
.img-hotel3 {
    display: flex;
    width: 370px;
    height: 259px;
}
.hotel3-title {
    display: flex;
    width: 370px;
    height: 40px;
    margin-top: -10px;
    /*margin-left: 14px;*/
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: bold;
    background-color: white;
}

.hotel4 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 320px;
    margin-top: -130px;
}
.img-hotel4 {
    display: flex;
    width: 370px;
    height: 260px;
}
.hotel4-title {
    display: flex;
    width: 370px;
    height: 40px;
    margin-top: -10px;
    /*margin-left: 14px;*/
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: bold;
    background-color: white;
}
.hotel5 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 320px;
    margin-top: 0;
}
.img-hotel5 {
    display: flex;
    width: 370px;
    height: 247px;
}
.hotel5-title {
    display: flex;
    width: 370px;
    height: 40px;
    margin-top: -10px;
    /*margin-left: 14px;*/
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: bold;
    background-color: white;
}
.hotel6 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 450px;
    margin-top: -100px;
}
.img-hotel6 {
    display: flex;
    width: 370px;
    height: 380px;
}
.hotel6-title {
    display: flex;
    width: 370px;
    height: 30px;
    margin-top: -10px;
    /*margin-left: 14px;*/
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: bold;
    background-color: white;
}
.clients {
    background:#c7b39b url(./images/hall.jpeg);
    width: 1900px;
    height: 588px;
    display: flex;
    margin-top: -150px;
    position: relative;
}

.OUR-CLIENTS {
    /*display: flex;*/
    width: 496px;
    height: 44px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 32px;
    line-height: 44px;
    position: absolute;
    margin-top: 106px;
    margin-left: 602px;
}
.names {
    display: inline-flex;
    width: 900px;
    height: 52px;
    /*position: absolute;*/
    color: white;
    margin-top: 345px;
    margin-left: 400px;
    align-items: center;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 35px;
    justify-content: space-between;
    gap: 20px;
}

.top-rated {
    display: flex;
    width: 177px;
    height: 33px;
    margin-top: 29px;
    margin-left: 671px;
    margin-bottom: 29px;
    font-family: sans-serif;
    font-size: 27px;
    line-height: 37px;
    font-style: normal;
    font-weight: bold;
    color: #18B4CF;
}
.photo-item {
display: inline-grid;
    grid-template-rows: 1900px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    height: 190px;
}
.photo-item > div {
    width: 271px;
    }

.news {
    display: flex;
    width: 177px;
    height: 33px;
    margin-top: 29px;
    margin-left: 671px;
    margin-bottom: 29px;
    font-family: sans-serif;
    font-size: 27px;
    line-height: 37px;
    font-style: normal;
    font-weight: bold;
    color: #18B4CF;
}

.hotels-news {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    width: 1900px;
    height: 1200px;
    justify-content: space-around;
    /*background-color: gainsboro;*/
    position: relative;
    grid-template-areas:
  "item1 item1 item1 item2"
  "item3 item3 item4 item4"
  "item5 item5 item6 item6"
  "item7 item8 item8 item8"

}

.item1 {
    grid-area: item1;
    width: 756px;
    height: 259px;
    padding-left: 200px;
}

.item2 {
    grid-area: item2;
    width: 600px;
    height: 259px;
    padding-right: 140px;
}

.item3 {
    grid-area: item3;
    width: 800px;
    height: 259px;
    padding-left: 200px;
    padding-right: 200px;

}

.item4 {
    grid-area: item4;
    width: 800px;
    height: 259px;
    padding-left: 200px;
    padding-right: 200px;
}

.item5 {
    grid-area: item5;
    width: 800px;
    height: 259px;
    padding-left: 200px;
    padding-right: 200px;
}

.item6 {
    grid-area: item6;
    width: 800px;
    height: 259px;
    padding-left: 200px;
    padding-right: 200px;
}

.item7 {
    grid-area: item7;
    width: 277px;
    height: 259px;
    padding-left: 200px;
}

.item8 {
    grid-area: item8;
    width: 656px;
    height: 259px;
    padding-right: -300px;
    }
.text1 {
    width: 350px;
    height: 140px;
    position: absolute;
    padding-left: 487px;

.text {
    width: 800px;
    height: 200px;
}
}
.footer {
    display: inline-flex;
    width: 1900px;
    height: 80px;
    position: relative;
    background-color: #313131;
    margin-top: 200px;
}
.footer-title {
width: 562px;
    height: 21px;
    position: absolute;
    left: 367px;
    top: 25px;
    font-size: 13px;
    line-height: 13px;
    font-family: sans-serif;
    color: #ffffff;
}
